body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("img/DSCF7808_5000x.webp");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    display:block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    cursor: pointer;
}
#start,#new{
    margin-bottom: 10px;
    margin-top: 10px;
}
